# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.egg

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test and coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# FastAPI/Starlette
instance/
*.db

# Git
.git/